  body {
      text-align: center;
      background-color: rgb(255, 231, 244);
      color: rgb(0, 34, 109);
  }
  body:hover{
    background-color: rgb(36, 117, 129);
    color: antiquewhite;
  }

  #P {
      width: 40%;
      height: 40%;
  }

  #l {
      width: 40%;
      height: 40%;
  }

  #K {
      width: 40%;
      height: 40%;
  }

  #Q {
      width: 40%;
      height: 40%;
  }

  #J {
      width: 40%;
      height: 40%;
  }

  #U {
      width: 40%;
      height: 40%;
  }

  #O {
      width: 40%;
      height: 40%;
  }

  #Y {
      width: 40%;
      height: 40%;
  }

  #R {
      width: 40%; 
      height:40%;
  }

  #W {
      width: 40%;
      height: 40%;
  }
     h1 {
        color:rgb(206, 84, 131)
     }
     h1:hover {
        color:rgb(157, 241, 230)
     }
     img{
        opacity: 0.75;
       
        
     }
     img:hover{
        opacity: 1;
        border: 7px rgb(255, 255, 109) solid; 
        /* zoom:1 */
     }
    